body{
font-size: 11px;
font-family: 'Open Sans', Arial, sans-serif; font-weight: 400;
/*font-family: 'Ubuntu', Arial, sans-serif; font-weight: 400;*/
background-color: #000000;
background-image: url(images/bg.png);
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center center;
padding: 0 0 0 0;
margin: 0 0 0 0;
}

.anotherbrick1 { float:left;margin-right:10px;}
.anotherbrick2 { position: absolute;right:10px;top:15px}
.demoHeaders { margin-top: 2em; }
#site_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
/*#options_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}*/
/*#about_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}*/
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
/*#options_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}*/
/*#about_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}*/
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

fieldset {border:thin solid #aaa;border-radius:5px;padding:0 8px 8px 8px; margin-top:10px;}
#login-dialog fieldset {border:thin solid #aaa;border-radius:5px;padding:0 8px 8px 8px; margin-top:10px; margin-right:120px;}

/*#topbar {width:100%;height:37px;color:white;background-color:black;display:block;font-size:13px;font-weight: 400;}*/
#left_topbar {display:inline-block;float:left;margin-left:8px;margin-top:3px;} /*margin-top:8px*/
#right_topbar {display:inline-block;float:right;margin-right:8px;margin-top:3px;}/*{display:inline-block;float:right;margin-top:8px}*/
#central_topbar {display:inline-block;margin-top:3px;margin-left:3px;text-align:center;}
.socialicon{vertical-align:middle;padding: 0 0 0 0;margin: 0 0 0 0;}
#left_topbar,#right_topbar,#central_topbar a:link {text-decoration:none;}
#left_topbar,#right_topbar,#central_topbar a:visited {text-decoration:none;}
#left_topbar,#right_topbar,#central_topbar a:hover {text-decoration:none;}
#left_topbar,#right_topbar,#central_topbar a:active {text-decoration:none;}


#thebox{display:block;margin-top:1px;}
#live_box {display:inline-block;margin-left:1px;margin-top:1px;border-radius:10px;float:left;/*width:74.5%;min-width:800px*/min-width:600px;}
#sidebar {display:inline-block;margin-right:1px;overflow:auto;float:right;/*width:24.5%;min-width:200px*/min-width:200px;max-width:300px;}
.fullscreen{width:99.9% !important;}

/*.match_table{width:100%;border: thin solid white;border-radius:5px;-moz-border-radius:5px;padding:0 0 0 0;border-spacing:0 0 0 0}*/
.match_row{}
/*.datetime_league {text-align:center;border-bottom: thin solid white;}*/
.hometeam_league {text-align:right;width:42%;padding:0 5px;border-spacing:0 0 0 0}
.homescore_league {text-align:right;padding:0 0 0 0;border-spacing:0 0 0 0}
.separator_league {text-align:center;width:2%;padding:0 0 0 0;border-spacing:0 0 0 0}
.awayscore_league {text-align:left;padding:0 0 0 0;border-spacing:0 0 0 0}
.awayteam_league {text-align:left;width:42%;padding:0 5px;border-spacing:0 0 0 0}
.add_league{text-align:center;width:20px;height:20px;}
.remove_league{text-align:center;width:20px;height:20px;}
/*.round_league {text-align:left;border-top: thin solid white;}
.chronometer_league {text-align:right;border-top: thin solid white;}*/

.team_name{font-size:16px;font-weight: 700;}
.big_score{font-size:24px;font-weight: 700;}

.imgwinboxopen {background: url("chrome://htlivesight/content/img/wboxopen0.png") transparent;border:0;width:20px;height:20px;}
.imgwinboxopen:hover {background: url("chrome://htlivesight/content/img/wboxopen1.png") transparent;border:0;width:20px;height:20px;}
.imgwinboxshade {background: url("chrome://htlivesight/content/img/wboxshade0.png") transparent;border:0;width:20px;height:20px;}
.imgwinboxshade:hover {background: url("chrome://htlivesight/content/img/wboxshade1.png") transparent;border:0;width:20px;height:20px;}
.imgwinboxclose {background: url("chrome://htlivesight/content/img/wboxclose0.png") transparent;border:0;width:20px;height:20px;}
.imgwinboxclose:hover {background: url("chrome://htlivesight/content/img/wboxclose1.png") transparent;border:0;width:20px;height:20px;}

/*.live_league_table{width:100%;border: thin solid white;border-radius:5px;-moz-border-radius:5px;text-align:center;}
.header_league_table{text-align:center;border-bottom: thin solid white;}*/

#winbox_leaguematches{/*min-height:140px;*/overflow:auto}
#winboxcontent_leaguetable{/*min-height:150px;*/overflow:auto}
#winboxcontent_matchlist{/*min-height:30px;*/overflow:auto}
#winboxcontent_friends{/*min-height:110px;*/overflow:auto}
#managefriendsbuttons{/*margin-top:5px*/height:100%;}
#winboxcontent_addmatch{/*min-height:50px;*/overflow:auto}
#addmatchbuttons{/*margin-top:5px*/height:100%;}
#serverint{/*min-height:60px;*/overflow:auto}
#progressmeter{width:100%;}
#progresslabel{float:right}

.matchheader{width:100%;border: #fff 0px solid; border-radius:5px;}
.line1header {width:220px;border: 0 0 0 0;text-align:center;font-size: 13px;float:left;}
.chronoheader {border: 0 0 0 0;text-align:center;font-size: 13px;min-width:160px;width:36%}
.iconzone {width:220px;border: 0 0 0 0;text-align:center;font-size: 13px;float:right;}
.line2sxheader {width:25%;border-bottom:thin solid white;border-left:medium solid white;border-bottom-left-radius:25px; text-align:center;font-size:16px;font-weight:bold}
.line2rxheader {width:25%;border-bottom:thin solid white;border-right:medium solid white;border-bottom-right-radius:25px; text-align:center;font-size:16px;font-weight:bold}
.scoreheader {width:100px;border-left:medium solid white;border-right:medium solid white;border-radius:25px; text-align:center;font-size:16px;font-weight:bold}
.rxheader {text-align:left}
.sxheader {text-align:right}

.newClass {animation:myfirst 3s;
-moz-animation:myfirst 3s; /* Firefox */
-webkit-animation:myfirst 3s; /* Safari and Chrome */
animation-iteration-count: 5;
-moz-animation-iteration-count: 5;
-webkit-animation-iteration-count: 5;
animation-timing-function:ease-in-out;
-moz-animation-timing-function:ease-in-out; /* Firefox */
-webkit-animation-timing-function:ease-in-out; /* Safari and Chrome */}
@keyframes myfirst
{
0%   {background:transparent;}
25%  {background:red;}
50%  {background:transparent;}
75% {background:red;}
100% {background:transparent;}
}
@-moz-keyframes myfirst /* Firefox */
{
0%   {background:transparent;}
25%  {background:red;}
50%  {background:transparent;}
75% {background:red;}
100% {background:transparent;}
}
@-webkit-keyframes myfirst /* Firefox */
{
0%   {background:transparent;}
25%  {background:red;}
50%  {background:transparent;}
75% {background:red;}
100% {background:transparent;}
}

.newClass2 {animation:myfirst2 3s;
-moz-animation:myfirst2 3s; /* Firefox */
-webkit-animation:myfirst2 3s; /* Safari and Chrome */
animation-iteration-count: 5;
-moz-animation-iteration-count: 5;
-webkit-animation-iteration-count: 5;
animation-timing-function:ease-in-out;
-moz-animation-timing-function:ease-in-out; /* Firefox */
-webkit-animation-timing-function:ease-in-out; /* Safari and Chrome */}
@keyframes myfirst2
{
0%   {background:transparent;}
25%  {background:yellow;}
50%  {background:transparent;}
75% {background:yellow;}
100% {background:transparent;}
}
@-moz-keyframes myfirst2 /* Firefox */
{
0%   {background:transparent;}
25%  {background:yellow;}
50%  {background:transparent;}
75% {background:yellow;}
100% {background:transparent;}
}
@-webkit-keyframes myfirst2 /* Firefox */
{
0%   {background:transparent;}
25%  {background:yellow;}
50%  {background:transparent;}
75% {background:yellow;}
100% {background:transparent;}
}

.newClass3 {animation:myfirst3 3s;
-moz-animation:myfirst3 3s; /* Firefox */
-webkit-animation:myfirst3 3s; /* Safari and Chrome */
animation-iteration-count: 5;
-moz-animation-iteration-count: 5;
-webkit-animation-iteration-count: 5;
animation-timing-function:ease-in-out;
-moz-animation-timing-function:ease-in-out; /* Firefox */
-webkit-animation-timing-function:ease-in-out; /* Safari and Chrome */}
@keyframes myfirst3
{
0%   {background:transparent;}
25%  {background:grey;}
50%  {background:transparent;}
75% {background:grey;}
100% {background:transparent;}
}
@-moz-keyframes myfirst3 /* Firefox */
{
0%   {background:transparent;}
25%  {background:grey;}
50%  {background:transparent;}
75% {background:grey;}
100% {background:transparent;}
}
@-webkit-keyframes myfirst3 /* Firefox */
{
0%   {background:transparent;}
25%  {background:grey;}
50%  {background:transparent;}
75% {background:grey;}
100% {background:transparent;}
}

.newClass4 {animation:myfirst4 3s;
-moz-animation:myfirst4 3s; /* Firefox */
-webkit-animation:myfirst4 3s; /* Safari and Chrome */
animation-iteration-count: 5;
-moz-animation-iteration-count: 5;
-webkit-animation-iteration-count: 5;
animation-timing-function:ease-in-out;
-moz-animation-timing-function:ease-in-out; /* Firefox */
-webkit-animation-timing-function:ease-in-out; /* Safari and Chrome */}
@keyframes myfirst4
{
0%   {background:transparent;}
25%  {background:green;}
50%  {background:transparent;}
75% {background:green;}
100% {background:transparent;}
}
@-moz-keyframes myfirst4 /* Firefox */
{
0%   {background:transparent;}
25%  {background:green;}
50%  {background:transparent;}
75% {background:green;}
100% {background:transparent;}
}
@-webkit-keyframes myfirst4 /* Firefox */
{
0%   {background:transparent;}
25%  {background:green;}
50%  {background:transparent;}
75% {background:green;}
100% {background:transparent;}
}

.newClass5 {animation:myfirst5 3s;
-moz-animation:myfirst5 3s; /* Firefox */
-webkit-animation:myfirst5 3s; /* Safari and Chrome */
animation-iteration-count: 5;
-moz-animation-iteration-count: 5;
-webkit-animation-iteration-count: 5;
animation-timing-function:ease-in-out;
-moz-animation-timing-function:ease-in-out; /* Firefox */
-webkit-animation-timing-function:ease-in-out; /* Safari and Chrome */}
@keyframes myfirst5
{
0%   {background:transparent;}
25%  {background:orange;}
50%  {background:transparent;}
75% {background:orange;}
100% {background:transparent;}
}
@-moz-keyframes myfirst5 /* Firefox */
{
0%   {background:transparent;}
25%  {background:orange;}
50%  {background:transparent;}
75% {background:orange;}
100% {background:transparent;}
}
@-webkit-keyframes myfirst5 /* Firefox */
{
0%   {background:transparent;}
25%  {background:orange;}
50%  {background:transparent;}
75% {background:orange;}
100% {background:transparent;}
}

/* CSS customisation by LA-MJ 
	START
*/
#button_login{float: right;}
#right_topbar > a, #left_topbar > a{
text-decoration:none;
}
#leaguetable_grid_rows td{
padding: 2px 0;
}
#leaguetable_grid_rows td:first-child,#leaguetable_grid_rows th:first-child{
padding-left: 3px;
border-right: thin solid white;
}
table.ev_rows,#leaguetable_grid_rows{
border-collapse: collapse;
}
td.short_friend, td.short_own{font-weight: bold;}
tr.league_title, tr.league_promote{background-color: #023702;}
tr.league_title + tr,tr.league_promote + tr:not(.league_promote){border-top: 1px solid green;}
tr:not(.league_demote) + tr.league_demote{border-top: 1px solid red;}
tr.league_demote{background-color: #750606;}
tr.league_qualify{background-color: #757006;}
tr.league_own > td:nth-child(2) > span{font-weight: bold;}
table.ev_rows > tr{
border-bottom: 2px solid black;
}
table.ev_rows > tr > td{
padding: 2px 0;
}
img.match_button{}
img.weather_image{
vertical-align: middle;
}
span.arena_name{}
span.arena_attendance{}
span.weather_text{}
tr.plackardrow{}
table.team_home > tr,
table.team_away > tr{vertical-align: top;}
tr.scorers{}
td.scorers_home{}
td.scorers_away{}
tr.info_row{}
tr.foe_away{
background-color: #660754;
}
tr.foe_home{
background-color: #0B2D73;
}
tr.friend_home{
background-color: #023702;
}
tr.friend_away{
background-color: #920606;
}
td.event_minute{
text-align:right;
width:25px;
}
td.event_icon{
width:25px;
text-align: center;
}
td.event_icon > img{
vertical-align: middle;
}
td.event_icon + td.event_icon{
padding-right: 2px;
}
em.player_name{
font-weight: bold; 
}
em.special_event{
color: rgb(245, 250, 7);
}

/* CSS customisation by LA-MJ 
	END
*/
/* bigpapy: fixing select language background */
#lang-list option{background: inherit;}
#lang-list option:hover{background:white;}
#listbox_friends{width:100%;}
