label, description {
  -moz-user-select: text;
  -moz-user-focus: normal;  
}
#htlivesight-window{
	background-color: #eee;
}
#live_box{
background: url("chrome://htlivesight/content/img/bg.png") #fff;
background-repeat:no-repeat;
background-position:center center;
}
#winbox_login{
	background-color: #fff;
}
#main_popup{
background-color: #eee;
color: #000011;
border: thin solid black;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#main_popup:hover{
background-color: #eee;
color: #000011;
border: thin solid black;
}
.friendpopup, .formationpopup, #server, .menuitem-iconic{
background-color: #eee;
color: #000011;
border: thin solid black;
}
.friendpopup:hover, .formationpopup:hover, #server:hover, .menuitem-iconic:hover{
background-color: #eee;
color: #000011;
border: thin solid black;
}
.background_orange {
	background-color: #f84;
	color: #000;
}
.background_white {
	background-color: #fff;
	color: #000;
}
.background_red {
	background-color: #f44;
	color: #000;
}
.background_green {
	background-color: #4f4;
	color: #000;
}
.background_yellow {
	background-color: #ff4;
	color: #000;
}
.background_blue {
	background-color: #44f;
	color: #000;
}
.background_grey {
	background-color: #ddd;
	color: #000;
}
.box_header, .box_footer {
	background-color: #eee;
	color: #000;
}
.box_header {
	border: thin solid black;
}
.box_footer {
	border: solid black;
	border-width: 0px 1px 1px 1px;
}
.box_header_header {
	background-color: #24B230;
	color: #fff;
	font-weight: bolder;
}
.live_match {
	margin: 1px;
	border: thin solid black;
	background-color: #888;
	padding: 1px;
}
.live_match .team_name {
	font-weight: bolder;
	font-size: 110%;
}
hbox.header_notify {
	margin: 0px;
	-moz-box-pack: center;
	-moz-box-align: center;
	min-width: 24px;
	
}
.live_match .big_score {
	font-size: 300%;
	font-weight: bolder;
	margin: 0px 0px 0px 0px;
}
.big_score > label {
	padding: 0px;
	margin: 0px;
}
.live_match row {
	border-style: solid;
	border-color: #bbb;
	border-width: 0px 0px 1px 0px;
}
.event_text {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.player_name {
  font-weight: bold;	
}
.special_event {
	color: #d60;
}
.score_separator {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
}
.live_events {
	background-color: white;
	color: #000;
	border: thin solid black;
	margin-top: 2px;
}
.highlights label {
	border: 1px solid red;
	padding: 0px;
	margin: 0px;
}
 
/* Gonzo remove: #league_grid_rows > row, #other_grid_rows > row { */
#leaguetable_grid_rows > row, #league_grid_rows > row, #other_grid_rows > row {
	background-color: #fff;
	color: #000;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px 0px 0px 0px;
	padding: 2px;
}
#league_grid_rows > row:first-child, #other_grid_rows > row:first-child {
	border-width: 0px;
}
.match_list {
	margin: 5px;
}
.match_list row {
	background-color: #ffffff;
	color: #000;
	border: solid black;
	border-width: 0px 1px 1px 1px;
	border-collapse: collapse;
	padding: 2px;
}
.friends_list, .add_match {
	margin: 5px;
	border: thin solid black;
}
.friends_list row {
	background-color: #fff;
	color: #000;
}
.friend_home {
	background-color: #ddf;
	color: #000;
}
.friend_away {
	background-color: #dfd;
	color: #000;
}
.foe_home {
	background-color: #fdd;
	color: #000;
}
.foe_away {
	background-color: #ffb;
	color: #000;
}
.tactic {
	margin-left: 10px;
	margin-right: 10px;
}
.scorer {
	margin-left: 10px;
	margin-right: 10px;	
}
.booked {
	margin-left: 10px;
	margin-right: 10px;
	color: #FFCC00;
}
.sent_off {
	margin-left: 10px;
	margin-right: 10px;
	color: #FF0000;
}
.formation {
}
.border {
	border: 1px solid red;
}
#contentbody_addmatch, #contentbody_friends, #contentbody_login {
	padding: 1em;
	-moz-box-pack: center;
	-moz-box-align: center;
}
.leaguetable_up {
  list-style-image: url("chrome://htlivesight/content/old_img/up.gif");
}
.leaguetable_down {
  list-style-image: url("chrome://htlivesight/content/old_img/down.gif");
}
.leaguetable_equal {
  list-style-image: url("chrome://htlivesight/content/old_img/equal.gif");
}
/* End */
#imgup_friend {
   list-style-image: url("chrome://htlivesight/content/old_img/up0.png");
}
#imgup_friend:hover {
   list-style-image: url("chrome://htlivesight/content/old_img/up1.png");
}
#imgdown_friend {
   list-style-image: url("chrome://htlivesight/content/old_img/down0.png");
}
#imgdown_friend:hover {
   list-style-image: url("chrome://htlivesight/content/old_img/down1.png");
}
#imgremove_friend {
   list-style-image: url("chrome://htlivesight/content/old_img/wclose0.png");
}
#imgremove_friend:hover {
   list-style-image: url("chrome://htlivesight/content/old_img/stop1.png");
}
#imgopen_friend {
   list-style-image: url("chrome://htlivesight/content/old_img/next0.png");
}
#imgopen_friend:hover {
   list-style-image: url("chrome://htlivesight/content/old_img/next1.png");
}
#boxprogress {
  margin: 5px;
  border: 2px solid black;
  background-color: #fff;
  color: #000;
  padding: 2px;
}
#progressmeter { 
   color: green;
   background-color: white;
}
.winbox {
  margin: 5px;
  border: 2px solid black;
}
.winboxheader {
  background-color: #24B230;
  color: #fff;
  font-weight: bolder;
  -moz-box-align: center;
}
.contentheader, .contentbody, .contentfooter {
  border: solid black;
  border-width: 1px 0px 0px 0px;
}
.contentheader, .contentfooter {
  color: #000;
}
.imgwinboxopen {
   list-style-image: url("chrome://htlivesight/content/old_img/wboxopen0.png");
}
.imgwinboxopen:hover {
   list-style-image: url("chrome://htlivesight/content/old_img/wboxopen1.png");
}
.imgwinboxshade {
   list-style-image: url("chrome://htlivesight/content/old_img/wboxshade0.png");
}
.imgwinboxshade:hover {
   list-style-image: url("chrome://htlivesight/content/old_img/wboxshade1.png");
}
.imgwinboxclose {
   list-style-image: url("chrome://htlivesight/content/old_img/wboxclose0.png");
}
.imgwinboxclose:hover {
   list-style-image: url("chrome://htlivesight/content/old_img/wboxclose1.png");
}
