<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
                id="http://htlivesight.sourceforge.net/"
                version="0.5.830" network="public private">
        <name>HTlivesight</name>
        <description>A viewer for hattrick.org</description>
        <author href="http://htlivesight.sourceforge.net/">Silkevicious and Bigpapy</author>
        <license href="http://www.gnu.org/licenses">GNU General Public License</license>
        <icon src="/chrome/skin/64.png" width="64" height="64"/>
	<access origin="https://chpp.hattrick.org" subdomains="true"/>
        <access origin="http://chpp.hattrick.org" subdomains="true"/>
	<access origin="http://fonts.googleapis.com" subdomains="true"/>
        <access origin="http://webchat.quakenet.org" subdomains="true"/>

</widget>
