body { font-size: 10pt;
background-image: url(../img/bg.png);
background-repeat:no-repeat;
background-attachment:fixed;
background-position:bottom left;
}
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset {border:thin solid #aaa;border-radius:5px;padding:0 8px 8px 8px; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.ui-progressbar-value { background-image: url(images/pbar-ani.gif); }

#match_container{
/*background:#ccc;*/
width:80%;
float:left;
text-align:center;
}
.matchskeleton{
background:#ccc;
width:99%;
border-color:#000;
border-width:1px;
border-style:solid;
text-align:center;
}
#sidebar{
/*background:#aaa;*/
width:20%;
float:right;
}