<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>future coach</title>
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png"/>

<!-- Bootstrap style --> 
    <link href="static/css/materialize.min.css" rel="stylesheet"/>
    <link href="static/css/ht-tools.css" rel="stylesheet"/>

  </head>

  
<body>
	<navber >
		<object data="header.html" style="position:fixed;top:0;left:0;width:200px;height:100%;background-color:#EEE;padding-top:80px"> 

		</object>
	</navbar>
<main style="margin-left:200px">

  <div>
    <div class="row">
    
      <div class="row">
        <div class="col s12" style="padding:0">
      <ul class="tabs">
        <li class="tab col s6" style="background-color:#277F31"><a class="active" style="color:#ffffff" href="#tool">future coach</a></li>
        <li class="tab col s6" style="background-color:#277F31"><a  style="color:#ffffff" href="#info">info</a></li>
        
      </ul>
    </div>

    <div id="tool" class="col s12" style="padding:0px;background-color:#FFF">
        
      <div class="col l5 m6 s12" style="background: none repeat scroll 0% 0% #FFF; border-radius: 15px; padding: 20px; margin-bottom: 5px">

     <!-- {% if login %}
          <div class="col s12">
              <select class="browser-default" name="players" id="teams" onchange="getValue(this)">
                <option value="" disabled selected>{{pagestr["chooseyourplayer"]|safe}}</option>
                  {% for i in players %}
                     <option value="{{i[0]}}">{{i[1]}}</option>
                  {% endfor %}
               </select>
             </div>
           <br><br><br>
          <div class="progress" id="progress" style="display:none">
            <div class="indeterminate"></div>
          </div>          
       {% endif %}-->
       <br>
      <form id="my-form-1" style="overflow:hidden" class="col s12">
        
        <div class="row slidercls"><b>experience</b><span id="experience" style="float:right;text-align:right;font-weight:bold"></span></div><br/>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-experience" class="slider-success" style="width:80%;float:left"></div><input type="text" id="experience-value" style="float:right;width:40px;height:25px;text-align:right" value="4"/>
        </div><br/><br/><br/>
        <div class="row slidercls"><b style="margin-left:0px;">leadership</b><span id="leadership" style="float:right;text-align:right;font-weight:bold;"></span></div><br/>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-leadership" class="slider-success" style="width:80%;float:left"></div><input type="text" id="leadership-value" style="float:right;width:40px;height:25px;text-align:right" value="3"/>
        </div><br/><br/><br/>
        <div class="row slidercls"><b>coach level</b><span id="coachlevel" style="float:right;text-align:right;font-weight:bold;"></span></div><br/>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-coachlevel" class="slider-success" style="width:80%;float:left"></div><input type="text" id="coachlevel-value" style="float:right;width:40px;height:25px;text-align:right" value="6"/>
        </div><br/><br/>
        <button class="btn green waves-effect waves-light" style="float:right;margin-top:25px" type="submit">Submit</button>
      </form>

       
      </div>

    <div class="col l7 m6 s12">
      <table class="table bordered centered" id="resultstable" style="background-color:#fff">
            <thead>
              <tr style="background-color: #277F31; color:#fff">
                <th>cost of conversion</th>
                <th>saving from external recruiting</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="color: #a94442;background-color: #f2dede;border-color: #ebccd1;"></td>
                <td style="color: #31708f;background-color: #d9edf7;border-color: #bce8f1;"></td>
              </tr>
            </tbody>
        </table>
    </div>

  </div>
  
    <div id="info" class="col s12" style="padding:30px;background-color:#FFF">
        <h5><b>futurecoach</b></h5>
        <img src="static/images/futurecoach.png" style="float:left;margin-right:15px"><span><b>info:</b> This is a simple tool that will help you to find the cost of your future coach conversion and check how much money you will save from external recruiting.</span>

      </div>
    </div>

  
</main>
<script type="text/javascript" src="../lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="static/noUiSlider/jquery.nouislider.all.js"></script>
<script type="text/javascript" src="static/js/materialize.js"></script>
<!-- <script type="text/javascript" src="static/js/cookies.js"></script> -->

<script type="text/javascript" src="static/js/futurecoach.js"></script>



</body>
</html>