<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>hattrick week</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HT-Tools is a database of helper functions for the online Hattrick Football manager. Training estimation, health estimation and many other tools are available">
    <meta name="keywords" content="hattrick, football manager, online games, football, training, chpp">
    <meta property="og:image" content="static/images/logo.png"/>
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png"/>

<!-- Bootstrap style --> 
    <link href="static/css/materialize.min.css" rel="stylesheet"/>
    <link href="static/css/ht-tools.css" rel="stylesheet"/>
    <link href="static/css/adsense.css" rel="stylesheet"/>
    <link href="static/css/footable.core.min.css" rel="stylesheet" type="text/css" />
    <link href="static/css/footable.standalone.min.css" rel="stylesheet" type="text/css" />
    <<link href="../themes/dataTables.css" rel="stylesheet" type="text/css" />
    <!--<link href="static/noUiSlider/jquery.nouislider.min.css" rel="stylesheet"/> -->

<!-- fav and touch icons -->
    <link rel="shortcut icon" href="static/images/favicon.png">

  </head>

  
<body>
	<navber >
		<object data="header.html" style="position:fixed;top:0;left:0;width:200px;height:100%;background-color:#EEE;padding-top:80px"> 

		</object>
	</navbar>
<main style="margin-left:200px">

  <div>
    <div class="row">
		<!--
      <div class="col s12 m12 l2">
      {% if not login %}
              <div class="card-panel" style="background-color:#fcf6df;border:1px solid orange;margin-top:50px">{{headerstr["loginmessage"]|safe}}</div>
      {% endif %}

      <div id="ad1" class="adslot1" style="margin-top:35px;text-align:center">{% include "responsive_left.html" %}</div>
    </div>-->

      <ul class="tabs">
        <li class="tab col s6" style="background-color:#277F31"><a class="active" style="color:#ffffff" href="#tool">hattrick week</a></li>
        <li class="tab col s6" style="background-color:#277F31"><a  style="color:#ffffff" href="#info">info</a></li>
        
      </ul>
    </div>

    <div id="tool" class="col s12" style="padding:30px;background-color:#FFF">
      <table class="table bordered centered display" id="resultstable" style="background-color:#fff" >
        <thead>
          <tr style="background-color: #277F31; color:#fff">
            <th data-sort-initial="true">country</th>
            <th>training</th>
            <th data-hide="phone">economy</th>
            <th data-hide="phone">series</th>
            <th data-hide="phone">cup</th>
          </tr>
        </thead>
        <tbody>
          <!--  or i in param["program"] %}-->

         <!--  endfor %}-->
        </tbody>
    </table>
    <div id ="test"></div>
    </div>
  
    <div id="info" class="col s12" style="padding:30px;background-color:#FFF">
        <h5><b>hattrickweek</b></h5>
        <img src="static/images/hattrickweek.png" style="float:left;margin-right:15px"><span><b>info:</b> description</span>

      </div>
    </div>

   
</main>

<script type="text/javascript" src="../lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="static/noUiSlider/jquery.nouislider.all.js"></script>
<script type="text/javascript" src="static/js/materialize.js"></script>
<!-- <script type="text/javascript" src="static/js/cookies.js"></script>-->

<script type="text/javascript" src="static/js/footable.js"></script>
<script type="text/javascript" src="static/js/footable.sort.js"></script>

<script type="text/javascript" src="static/js/hattrickweek.js"></script>
<script type="text/javascript" src="../env.js"></script>
<script type="text/javascript" src="../api-proxy.js"></script>
<script type="text/javascript" src="../util.js"></script>
<script type="text/javascript" src="../prefs.js"></script>
<script type="text/javascript" src="../util/misc.js"></script>
<script type="text/javascript" src="../lib/oauth.js"></script>
<script type="text/javascript" src="../lib/sha1.js"></script>
<script type="text/javascript" src="../preferences.js"></script>
<script type="text/javascript" src="../settings.js"></script>
<script type="text/javascript" src="../log.js"></script>
<script type="text/javascript" src="../lang.js"></script>
<script type="text/javascript" src="../dom.js"></script>
<script type="text/javascript" src="../lib/dataTables.js"></script>
<!-- <script type="text/javascript">
/*
if (!htlivesight) let htlivesight = {};
htlivesight.WorldDetails = {};
    $(document).ready(function(){
      $('.button-collapse').sideNav({menuWidth: 340, activationWidth: 70, edge: 'right'});
      $('.collapsible').collapsible();
      $('ul.tabs').tabs();
      $('#test').text( htlivesight.WorldDetails.getWorldDetails());
      
    });
    htlivesight.WorldDetails.getWorldDetails = function () {
		var parameters=[["file","worlddetails"],
		                ["version", "1.8"]];
		//console.log("Parameters: ");console.log(parameters);
		htlivesight.ApiProxy.retrieve(document, parameters, function(xml){htlivesight.WorldDetails.ParseGet(xml);});
	};
    htlivesight.WorldDetails.ParseGet = function(xml) { //console.log("htlivesight.YouthLeague.ParseGet response");
    	if (xml) {
    		leaguesNode = xml.getElementsByTagName("League");
    		let leagues = [];
    		for(let i = 0; i< leaguesNode.length; i++){
    			leagues[i].country = htlivesight.Util.Parse("LeagueName", leaguesNode[i]);
    			leagues[i].training = htlivesight.Util.Parse("TrainingDate", leaguesNode[i]);
    			leagues[i].economy = htlivesight.Util.Parse("EconomyDate", leaguesNode[i]);
    			leagues[i].series = htlivesight.Util.Parse("SeriesMatchDate", leaguesNode[i]);
    			leagues[i].cup = htlivesight.Util.Parse("CupMatchDate", leaguesNode[i]);
    		}
    	}
    	return leagues;
    }*/
</script>-->


<!-- <script type="text/javascript">
/*    $('#resultstable').footable({
      breakpoints: {
        phone: 700
    }
});
  });*/
</script>-->

<!-- <script type="text/javascript">
/* 
  $("#resultstable tbody tr").each(function () {
    $("td", this).slice(1).each(function (i) {
      $(this).text(function(index, text) {return text.replace('Monday,', 'monday, ');})
      $(this).text(function(index, text) {return text.replace('Tuesday,', 'tuesday, ');})
      $(this).text(function(index, text) {return text.replace('Wednesday,', 'wednesday, ');})
      $(this).text(function(index, text) {return text.replace('Thursday,', 'thursday, ');})
      $(this).text(function(index, text) {return text.replace('Friday,', 'friday, ');})
      $(this).text(function(index, text) {return text.replace('Saturday,', 'saturday, ');})
      $(this).text(function(index, text) {return text.replace('Sunday,', 'sunday, ');})
    });
});*/



</script>-->


</body>
</html>