<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>healing calculator</title>
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png"/>

<!-- Bootstrap style --> 
    <link href="static/css/materialize.min.css" rel="stylesheet"/>
    <link href="static/css/ht-tools.css" rel="stylesheet"/>
  </head>

  
<body>
	<navber >
		<object data="header.html" style="position:fixed;top:0;left:0;width:200px;height:100%;background-color:#EEE;padding-top:80px"> 

		</object>
	</navbar>
<main style="margin-left:200px">

  <div>
    <div class="row">

      <!--<div class="col s12 m12 l2">
      {% if not login %}
              <div class="card-panel" style="background-color:#fcf6df;border:1px solid orange;margin-top:50px">{{headerstr["loginmessage"]|safe}}</div>
      {% endif %}

    </div>

      <div class="col s12 m12 l10"> -->

    

      <div class="row">
        <div class="col s12" style="padding:0">
      <ul class="tabs">
        <li class="tab col s6" style="background-color:#277F31"><a class="active" style="color:#ffffff" href="#tool">healing calculator</a></li>
        <li class="tab col s6" style="background-color:#277F31"><a  style="color:#ffffff" href="#info">info</a></li>
        
      </ul>
    </div>

    <div id="tool" class="col s12" style="padding:30px;background-color:#FFF">
        
      <div class="col l5 m6 s12" style="background: none repeat scroll 0% 0% #FFF; border-radius: 15px; padding: 20px; margin-bottom: 5px">
		  <div class="col s12">
              <select class="browser-default" name="players" id="teams" >
                <option value="" disabled selected>choose your team</option>
               </select>
             </div>
           <br><br><br>
		  <div class="col s12" style="display:none" id="playersDiv">
              <select class="browser-default" name="players" id="players" >
               </select>
             </div>
           <br><br><br>
          <div class="progress" id="progress" style="display:none">
            <div class="indeterminate"></div>
          </div>
<!--        {% if login %}
          <div class="col s12">
              <select class="browser-default" name="players" id="teams" onchange="getValue(this)">
                <option value="" disabled selected>{{pagestr["chooseyourplayer"]|safe}}</option>
                  {% for i in players %}
                     <option value="{{i[0]}}">{{i[1]}}</option>
                  {% endfor %}
               </select>
             </div>
           <br><br><br>
          <div class="progress" id="progress" style="display:none">
            <div class="indeterminate"></div>
          </div>          
       {% endif %}-->
       <br>
      <form id="my-form-1" style="overflow:hidden" class="col s12">
        
        <div><b>mediclevel</b></div>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-medic" class="slider-success" style="width:80%;float:left"></div><input type="text" id="medic-value" style="float:right;width:40px;height:25px;text-align:right" value="0"/>
        </div>
        <div><b>age</b></div>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-age" class="slider-success" style="width:80%;float:left"></div><input type="text" id="age-value" style="float:right;width:40px;height:25px;text-align:right;" value="0"/>
        </div>

        <div><b>injury weeks</b></div>
        <div class="col l12 m12 s12 slidercls">
          <div id="slider-weeks" class="slider-success" style="width:80%;float:left"></div><input type="text" id="weeks-value" style="float:right;width:40px;height:25px;text-align:right" value="0"/>
        </div>
        <button class="btn green waves-effect waves-light" style="float:right" type="submit">Submit</button>
      </form>

      <form id="my-form-2">
        <div class="row"><b>optional</b>: find the sublevel</div>
        
        <div class="input-field col s12 m7 l7">
          <input id="TSIB" type="text" class="validate" value="">
          <label for="TSIB">TSI Before</label>
        </div>

        <div class="input-field col s12 m7 l7">
          <input id="TSIA" type="text" class="validate" value="">
          <label for="TSIA">TSI After</label>
        </div>

        <button class="btn green waves-effect waves-light" style="float:right" type="submit">Submit</button>
      </form>
        
      </div>

    <div class="col l7 m6 s12">
      <table class="table bordered centered" id="resultstable" style="background-color:#fff">
            <thead>
              <tr style="background-color: #277F31; color:#fff">
                <th></th> 
                <th>updates</th>
                <th>weeks</th>
                <th>days</th>
              </tr>
            </thead>
            <tbody>
              <tr style="color: #31708f;background-color: #d9edf7;border-color: #bce8f1;">
                <td><b>bruised</b></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr style="color: #a94442;background-color: #f2dede;border-color: #ebccd1;">
                <td><b>healthy</b></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
        </table>

        
    </div>

  </div>
  
    <div id="info" class="col s12" style="padding:30px;background-color:#FFF">
        <h5><b>healingcalc</b></h5>
        <img src="static/images/healing.jpg" style="float:left;margin-right:15px"><span><b>info:</b> Healing Calculator will help you identify how many days or health updates a player needs to be bruised or completely healthy after an injury. You will be able to change parameters like Medic Level, Injury sublevel and Age</span>

      </div>
    </div>

    </div>
  </div>

</main>

<script type="text/javascript" src="../lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="static/noUiSlider/jquery.nouislider.all.js"></script>
<script type="text/javascript" src="static/js/materialize.js"></script>
<!-- <script type="text/javascript" src="static/js/cookies.js"></script>-->

<script type="text/javascript" src="static/js/healing.js"></script>

<script type="text/javascript" src="../env.js"></script>
<script type="text/javascript" src="../api-proxy.js"></script>
<script type="text/javascript" src="../util.js"></script>
<script type="text/javascript" src="../prefs.js"></script>
<script type="text/javascript" src="../util/misc.js"></script>
<script type="text/javascript" src="../lib/oauth.js"></script>
<script type="text/javascript" src="../lib/sha1.js"></script>
<script type="text/javascript" src="../preferences.js"></script>
<script type="text/javascript" src="../settings.js"></script>
<script type="text/javascript" src="../log.js"></script>
<script type="text/javascript" src="../lang.js"></script>
<script type="text/javascript" src="../dom.js"></script>
<script type="text/javascript" src="../manager_compendium.js"></script>

</body>
</html>